/*
	Estilo básico del RMF

	autor: Robert Sallent
	última revisión: 06/11/2016
*/



/* ------------------------------------------------------------------------------------
RESET DE ESTILO Y REGLAS GENERALES 
------------------------------------------------------------------------------------ */
*{
	margin: 0px;
	padding: 0px;
}

.izquierda{
	float: left;
}

.derecha{
	float: right;
}

.clear{
	clear: both;
}
.mini{
	font-size: 0.8em;
}
.maxi{
	font-size: 1.2em;
}

.flex-container{
	display: flex;
}

.flex{
	flex:1;
	font-size:0.8em;
}
.flexmac{
	flex:1;
	font-size:0.5em;
}
.flexgran{
	flex:3;
	font-size:0.80em;
}

.llistat{
	font-weight: bold;
}

.centrado{
	text-align: center;
}

h1, h2, h3{
	margin: 10px 0px 10px 0px;
}

p{
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img.logo{
	height: 100px;
	width: 100px;
	vertical-align: middle;
}

/* ------------------------------------------------------------------------------------
INICIO DE LOS ESTILOS PARA CADA UNO DE LOS ELEMENTOS 
------------------------------------------------------------------------------------ */

html{
	background-color: #eef;
}

body{
	background-color: #fff;
	font-family: arial, verdana;
	width: 90%;
	padding: 2%;
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 4px rgba(60,60,60,0.6);	
}


/* HEADER */
header{
	padding: 0px;
	background-color: #eef;
	color: white;
	text-shadow: 2px 2px 3px #99a;
	background-image: url(../images/soc.png);
	background-size: 100% 100%;
	padding-left:10px;
}

header{
	display: flex;
}

header h1{
	font-size: 0.9em;
	padding-bottom:40px;	
}

header h2{
	font-size: 0.9em;
	padding-bottom:0px;	
}

header figure{
	flex: 2;
}

header figure img{
	width: 600%;
}

header hgroup{
	flex: 5;
}


/* ZONAS DE LOGIN Y LOGOUT */
#login, #logout{
	text-align: right;
	padding: 5px 0px 5px 0px;
}

#login input{
	width: 100px;
}

#logout img{
	display: inline-block;	
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

#logout form{
	display: inline-block;
}

#login a, #logout a{
	color: #aaf;	
	font-weight: bold;
}


/* BARRA DE NAVEGACION */
nav{
	background-color: #aaf;
	color: white;
	display: flex;
	border: solid 2px #aaf;
}

nav ul{
	flex: 1;
}

nav ul:first-of-type{
	text-align: left;
}

nav ul:nth-of-type(2){
	text-align: right;
}

nav ul.menu>li{
	display: inline-block;
	list-style-type: none;
	padding: 8px;	
	transition: 0.5s;
}
nav ul.menu>li:hover{
	color: #aaf;
	background-color: white;	
}

/* AREA PARA EL CONTENIDO */
#content{
	padding: 20px 0px 20px 0px;
}

#content p{
	text-align: justify;
}

#content table{
	margin: auto;
	width: 90%;
}

#llistat table{
	margin: auto;
	width: 100%;
}

#content table th{
	color: white;
	background-color: blue;
	text-align: center;
	font-weight: bold;
}

#llistat table th{
	color: white;
	background-color: blue;
	text-align: center;
	font-weight: bold;
}

#content table th[colspan]{
	background-color:skyblue;
}

#content table td, #content table th{
	padding: 10px;
}

#llistat table td, #content table th{
	padding: 10px;
}

#content table tr:nth-of-type(even){
	background-color: #eef;
}

#llistat table tr:nth-of-type(even){
	background-color: #eef;
}


#content form input{
	margin-top: 5px;
	padding: 4px;
	
}
#content form input[name=nom]{
	width: 400px;
}

#content form label{
	display: inline-block;
	min-width: 140px;
}



#content form img.imagenactual{
	width: 100px;
	height: 110px;
	margin: 10px;
	float: right;
}

#filtre form input{
	margin-top: 1px;
	padding: 1px;
	width:80px
}
#filtre form label{
	display: inline-block;
	margin.left:10px;
	min-width: 140px;
}
#filtre form input[type=submit]{
	padding-left:350px;
	padding-right:390px;
	align:center;
	color:#FFFFFF;
	background-color:#00ff00;
}
#filtre form fieldset{
	display:inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 1em;
	padding_bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;

}


#filtre dates{
	display:inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 1em;
	padding_bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	width:200px;
}

#filtre filtres{
	display:inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding_bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	width:300px;
}


.boton{
	height:24px;
	widht:24px;
}

/* FOOTER */
footer{
	padding: 20px;
	background-color: #eef;
	
	background-image: url('../images/curso2.jpg');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: right top;
}

footer a:hover{
	color: blue;
}
